---
site_title: Christina Padilla
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="description" content="{{description}}"/>
    <meta name="author" content="{{author}}">
    <meta property="og:title" content="{{site_title}}"/>
    <meta property="og:description" content="{{description}}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="{{logo}}">
    <meta name="twitter:card" content="{{description}}"/>
    <meta name="twitter:creator" content="{{twitter_handle}}"/>
    <meta name="twitter:title" content="{{site_title}}"/>
    <meta name="twitter:description" content="{{description}}"/>
    <meta name="twitter:image" content="{{logo}}">
    {% if site_title %}
        <title>{{site_title}}</title>
    {% endif %}
    <link rel="canonical" href="https://christinapadilla.com/" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- FAVICONS (Emojis as favicons https://twitter.com/LeaVerou/status/1241619866475474946)--> 
    {% if favicon %}
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>{{favicon}}</text></svg>">
    {% endif %}
    <!-- pathPrefix https://www.11ty.dev/docs/filters/url/ -->
    <link rel="stylesheet" href="{{'/assets/styles/css/style.min.css' | url}}">
   
</head>

 <body id="body" class="body-class">
     
    <div class="container">
       
    <main class="wrapper">
        
    {{content}}

    </main>
    <div class="wrapper">
        <footer>
            <div class="ftr">
                <div class="colophon">
                    <div class="category">Colophon</div>
                    <ul>
                        <li class="ftr-copy"><i class="fa fa-copyright" aria-hidden="true"></i> <span class="socials-text">2020 Christina Padilla</span></li>
                        
                        <li class="ftr-copy " ><i class="fa fa-universal-access" aria-hidden="true"></i> <a  class="socials-text disabled">Accessibility Statement</a> <br>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;<span class="coming-soon ">Coming soon!</span></li>
                        
                        <li class="ftr-text"><span aria-hidden="true">🎈</span> <a href="www.11ty.dev/"
                                target="_blank" rel="noopener noreferrer" class="socials-text">Powered
                                by 11ty <span class="sr-only">Opens in new window</span><i
                                    aria-hidden="true" class="fa fa-edit fa-external-link"></i></a></li>
                    </ul>
                </div>

                <div class="contact-socials">
            
                <div class="contact">
                    <div class="category">Contact</div>
                    <ul>
                        <li class="email">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            <a href="mailto:hipstina@gmail.com?subject='Hi hello'" target="_blank" rel="noopener noreferrer">
                                <span class="socials-text">Email <span class="sr-only">Opens in new window</span><i aria-hidden="true"
                                class="fa fa-edit fa-external-link"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="socials">
                    <div class="category">Links</div>
                    <ul>
                        
                        <li class="twitter">
                            <i class="fa fa-twitter" aria-hidden="true"></i> 
                            <a href="https://twitter.com/hipstina" target="_blank" rel="noopener noreferrer"><span class="socials-text">Twitter</span></a>
                        </li>
                        <li class="github">
                            <i class="fa fa-github" aria-hidden="true"></i> 
                            <a href="https://github.com/hipstina" target="_blank" rel="noopener noreferrer"><span class="socials-text">GitHub</span></a>
                        </li>
                        <li class="codepen">
                            <i class="fa fa-codepen" aria-hidden="true"></i>
                            <a href="https://codepen.io/hipstina" target="_blank" rel="noopener noreferrer"><span class="socials-text">CodePen</span></a>
                        </li>
                    </ul>
                </div>
                </div>
            </div>
            <div class="ftr-nav">
            <a  class="bread-wrapper" href="/"  title="Christina Padilla" alt="CP">
                <ul class="bread">
                    <li class="bread-crumb">CP</li>
                </ul>
            </a>
                <a class="cta-wrapper not-allowed" target="_blank" rel="noopener noreferrer">
                 <ul class="cta">
                    <li>Hello</li>
                </ul>
            </a>
            </div>
        </footer>

    </div>
    </div>
</body>
<script src="{{"/assets/scripts/base.js" | url}}"></script>
</html>