---
layout: base.liquid
---
<header >
    <nav class="nav-wrapper">
        <a class="logo-link" href="/" title="Christina Padilla" alt="CP">
        <ul class="nav">
            <li class="logo">
                <h2 class="logo-text" >CP</h2>
            </li>
        </ul>
        </a>
        <ul class="nav ">
            <li class="nav-item "><a class="abt-img-link" href="/about">
                    <h3>About</h3>
                </a>
            </li>
         
        </ul>
    </nav>
</header>

<section class="intro-wrapper ">
    <div class="intro ">
        <h1 class="intro-title">I'm Christina, a frontend web developer based in Chicago.</h1>
        <p class="intro-sub">I cultivated an interest in user experience and web
            development after several years of working as a tech support specialist. Here are some things I've made.</p>
    </div>
    <figure class="intro-fig" aria-labelledby="about-img" role="group">
        <img id ="about-img" class="intro-img" src="/assets/images/profile-rot@4x copy 2.png" alt="Profile picture of Christina smiling. Image styled in halftone dots." title="Christina Padilla">
    </figure>
</section>


<section>  
        <div class="banner">
            <p><i class="fa fa-bullhorn" aria-hidden="true"></i>
            &nbsp;<strong>This website is under construction.</strong></p>
           <p> I am in the process of building out my portfolio, so you might notice some funky things on the site. You can <a href="https://github.com/hipstina/christinapadilla" target="_blank" rel="noopener noreferrer">follow along on GitHub <span class="sr-only">Opens in new window</span><i aria-hidden="true" class="fa fa-edit fa-external-link"></i></a>
            for updates.</p>
        </div>
</section>
<!-- iterate over project_collection to generate a preview of each project on the homepage -->


<section class="cards-wrapper">

<div class="cards" id="projects">
{%- for entry in collections.project %}

    <article class="card-wrapper">
        
            
    <a class="card {{entry.data.status}}" href="{{entry.url}}" alt="View details for {{entry.data.project_title}}">
        <div class="card-data">
            
            <div class="category">Featured Project</div>
            
            <h2 class="card-title">{{entry.data.project_title}}</h2>
            
            <p class="card-sum {{entry.data.status}}-text">{{entry.data.project_summary}} </p>
        </div>
    </a>
    </article>
{%- endfor %}
</div>
</section>
<script src="{{"/assets/scripts/card.js" | url}}"></script>
<script src="{{"/assets/scripts/intro.js" | url}}"></script>
