---
layout: internal.liquid
permalink: /

---
<body class="">

    

<div class="prj-wrapper">
    <div aria-hidden="true"></div>

    <div>
        <h1 class="prj-detail-title"> {{project_title}} </h1>
        <p class="prj-sum">{{project_summary}}</p>
    </div>

    

    <div class="prj ">
        <div class="prj-item">
            <p class="category">Type</p>
            <p class="prj-data"> {{project_type}} </p>
        </div>
        <div class="prj-item">
            <p class="category">Role</p>
            <p class="prj-data">{{project_role}}</p>
        </div>
        <div class="prj-item">
            <p class="category">Stack</p>
            <p class="prj-data">{{project_stack}}</p>
        </div>
        <div class="prj-item">
            <a href="{{project_demo}}" class="socials-text"><span class="prj-item-cta">Demo</span> <span class="sr-only">Opens in new window</span><i aria-hidden="true"
                class="fa fa-edit fa-external-link"></i></a>
            <a href="{{project_code}}" class="socials-text"><span class="prj-item-cta">Source Code</span> <span class="sr-only">Opens in new window</span><i aria-hidden="true"
                class="fa fa-edit fa-external-link"></i></a>
        </div>
    </div>


    
</div>

    

    <div class="prj-details">
        <div aria-hidden="true"></div>

        <div class="prj-img-wrapper ">
            <!-- <figure>
                <image class="prj-img " src="{{project_thumbnail_color}}"
                    alt="{{thumbnail_alt}}">
                    <figcaption class="fig-caption">↑ {{thumbnail_alt}}
                    </figcaption>
            </figure> -->
            <figure class="prj-fig" aria-labelledby="{{id_name}}-img" role="group">
                <img id="{{id_name}}-img" class="prj-img" src="{{project_thumbnail_color}}"
                    alt="{{thumbnail_alt}}">
                <figcaption class="fig-caption">↑ A caption for my project.</figcaption>
            </figure>
        </div>

        

        <div class="prj-details-text">
        {{content}} 
        </div>
        
        <div aria-hidden="true"></div>
    </div>
<!-- 
    {%- for entry in collections.project %}    
    {%- if entry.data.permalink != page.url %} 
        
            <a href="{{ entry.data.permalink }}"><button class="ftr btn">{{entry.data.project_title}} </button></a>
        
        {%-endif %}
    {%- endfor %} -->
   


    </body>