---
layout: internal.liquid

---
<body class="">

    

<div class="prj-wrapper">
    <div></div>

    <div>
        <h1 class="prj-detail-title"> {{project_title}} </h1>
        <p class="prj-sum">{{project_summary}}</p>
    </div>

    

    <div class="prj ">
        <div class="prj-item">
            <p class="category">Type</p>
            <p class="prj-data"> {{project_type}} </p>
        </div>
        <div class="prj-item">
            <p class="category">Role</p>
            <p class="prj-data">{{project_role}}</p>
        </div>
        <div class="prj-item">
            <p class="category">Stack</p>
            <p class="prj-data">{{project_stack}}</p>
        </div>
        <div class="">
            <a href="{{project_demo}}"><button class="btn">Demo</button></a>
            <a href="{{project_code}}"><button class="btn">Source Code</button></a>
        </div>
    </div>


    
</div>

    

    <div class="prj-details">
        <div></div>

        <div class="prj-img-wrapper ">
            <figure>
                <image class="prj-img " src="{{project_thumbnail_color}}"
                    alt="{{thumbnail_alt}}">
                    <figcaption class="fig-caption">↑ Click me to see more selfies.
                    </figcaption>
            </figure>
        </div>

        

        <div class="prj-details-text">
        {{content}} 
        </div>
        
        <div></div>
    </div>
<!-- 
    {%- for entry in collections.project %}    
    {%- if entry.data.permalink != page.url %} 
        
            <a href="{{ entry.data.permalink }}"><button class="ftr btn">{{entry.data.project_title}} </button></a>
        
        {%-endif %}
    {%- endfor %} -->
   


    </body>