---
layout: internal.liquid

---
<body>
    <h1 class="prj-detail-title"> {{project_title}} </h1>
    <!-- <div class="prj-img-wrapper">
    <image class="prj-img" src="{{project_thumbnail}}" alt="{{thumbnail_alt}}">
    
</div> -->
<div class="prj-hilights">
    <div class="prj">
        <div class="prj-item">
            <p class="prj-label">Type</p>
            <p class="prj-data"> {{project_type}} </p>
        </div>
        <div class="prj-item">
            <p class="prj-label">Role</p>
            <p class="prj-data">{{project_role}}</p>
        </div>
        <div class="prj-item">
            <p class="prj-label">Stack</p>
            <p class="prj-data">{{project_stack}}</p>
        </div>
    </div>
    <div class="cta">
        <a class="cta-item" href="{{project_demo}}"><button class="btn">Demo</button></a>
        <a class="cta-item" href="{{project_code}}"><button class="btn">Source Code</button></a>
    </div>
</div>
    <main> 
        <div class="prj-details">
            {{content}} 
        </div>
    </main>
  
       
    {%- for entry in collections.project %}
    {%- if entry.url != page.url %} 
    <div class="ftr-cta">
        <a href="{{ '/' | url}}"><button class="btn pgtn-rt btn-pgtn">Return Home</button></a>
        <a href="{{entry.url}}"><button class="btn pgtn-lt btn-pgtn">Next Project</button></a>
    </div>
    {% endif %}
{%- endfor %}

    </body>